/* Header */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/englishspringerspaniel_puppy.jpg);
  background-position: center;
  background-size: cover;
}

.nav,
.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.2rem;
  z-index: 999;
}

.logo {
  margin-top: 2rem;
  color: #fff;
  font-size: 5.6rem;
}

.list-item {
  font-size: 3.2rem;
}

.list-item:last-child {
  margin-bottom: 1.6rem;
}

.hero {
  display: none;
}

/* Statement */
.main {
  width: 90%;
  margin: 2.4rem auto;
}

.title {
  margin: 4rem auto;
  font-size: 6.4rem;
}

.welcome-statement,
.mission-statement {
  font-size: 2rem;
  margin: 2.4rem;
  color: #000;
}

.big-letter {
  font-size: 3.2rem;
}

/* Cards */
.card-wrapper {
  margin: 3.2rem auto;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #f2e6d8;
}

.card-image {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card-title {
  font-size: 2.4rem;
  margin-left: 0.8rem;
}

.card-desc {
  font-size: 2rem;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
}

/* .card-body {
  height: fit-content;
} */

.more-photos-btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin: 2rem 0.8rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #d9d1d0;
}

a.more-photos-btn {
  color: #000;
}

.more-photos-btn a {
  color: #000;
}

.more-photos-btn:hover {
  background-color: #424a59;
  color: #fff;
}

/* Knowledge Center */
.facts-title {
  text-align: center;
}

.facts-title,
.hints-title {
  line-height: normal;
  font-size: 3.2rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.facts,
.hints {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hints-subtitle {
  font-size: 2.4rem;
}

.float-left {
  float: left;
  width: 45%;
  margin-top: 2.4rem;
  margin-right: 1.6rem;
}

.image-wrapper {
  width: 100%;
  margin-top: 1.6rem;
}

.image {
  width: 100%;
}

/* Gallery */
.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-container img {
  margin-top: 2.4rem;
  width: 100%;
  border-radius: 5px;
  transition: all 1s;
}

.grid-img:hover {
  transform: scale(1.05);
}

/* Contact form */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2.4rem;
}

.label {
  font-size: 2rem;
}

.input {
  font-size: 1.6rem;
  border-radius: 10px;
  padding: 1rem;
}

.btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 10px;
}

.btn:hover {
  background-color: #424a59;
  color: #fff;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  margin-top: 6.4rem;
  font-size: 2rem;
  background-color: #000;
}

.footer .media-wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.footer .contact {
  margin-top: 1rem;
}

.footer .copyright {
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
}
